.user-icon {
    width: 32px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #512da8;
    border-radius: 50%;
    color: white;
    font-weight: bold;
  }
b {
  margin-left: 5px;
}