<form (submit)="submit()" autocomplete="off" *ngIf="userValid; else identificacao">
    <div fxLayout="column" fxLayoutAlign="space-between start" style="min-height: 360px;">
        <nz-list style="width: 100%;">
            <nz-list-item *ngFor="let message of messages | async">
                <div fxLayout="row" fxLayoutAlign="center center">
                    <div class="user-icon">{{message?.user?.toUpperCase()[0]}}</div>
                    <span><b>{{message.user}} diz:</b> {{message.message}}</span>
                </div>
            </nz-list-item>
        </nz-list>
        <div fxFlex>
        </div>
        <nz-input-group nzSearch [nzAddOnAfter]="messageInputEnviar">
            <input type="text" nz-input placeholder="Digite a sua messagem" [(ngModel)]="message.message"
                name="message">
        </nz-input-group>
        <ng-template #messageInputEnviar>
            <button nz-button nzType="primary" type="submit"
                [disabled]="!isConnected || message?.message?.trim().length === 0">Enviar</button>
        </ng-template>
    </div>
</form>
<ng-template #identificacao>
    <app-identificacao (onComplete)="validarUser($event)"></app-identificacao>
</ng-template>
{{webSocketService.usuarios | json}}