<div fxLayout="column" fxLayoutAlign="center center" style="min-height: 360px;">
    <form (submit)="submit()" autocomplete="off" style="width: 100%;">
        <nz-input-group nzSearch [nzAddOnAfter]="entrarInput">
            <input type="text" nz-input placeholder="Diga o seu nome" [(ngModel)]="user" autocomplete name="user">
        </nz-input-group>
        <ng-template #entrarInput>
            <button nz-button nzType="primary" type="submit">Entrar</button>
        </ng-template>
    </form>
</div>